/*

Jeremy Hall
09-23-2015

*/

body {font-size: 1.2em;
	font-family: Arial, sans-serif;
	background-color: #e6e6fa;

}

em {color: green;
	font-weight: bold;
	
}

h3 {color: maroon;
	text-transform: uppercase;
	font-size: 1.3em;
	text-align: right;
	font-family: Times, "Times New Roman", serif;
	
}