@charset "utf-8";
/* bookstyles.css */

body	{
		font-family:Arial, sans-serif;
		font-size: 1.2em;
		background-color: gainsboro;
		line-height: 1.25em;
		margin-left: 8em;
		background-image: url(images/spiralbound.jpg);
		background-repeat: repeat-y;
		}


img		{
		float: right;
		margin: 0 0 10px 10px;
		}
		
	
h1		{
		text-align: center;
		margin-top: 0.5em
		font-size: 3em;
		padding-bottom: 25px
		}
		
		
h2		{
		text-align: center;
		background-image: url(images/grey_texture.jpg);
		color: white;
		font-size: 1.4em;
		padding: 10px;
		}
		
		
h3		{
		text-decoration: underline overline;
		color: teal;
		font-size: 1.3em;
		}
		
		
footer	{
		text-align: center;
		text-transform: uppercase;
		color: white;
		background-color: black;
		float: right;
		padding: 10px;
		}
		
		
p.border	{
			border-top: solid teal 0.4em;
			padding-top: 0.4em;
			font-weight: bold;
			font-style: italic;
			color: teal;
			margin-bottom: 0;
			}
			
			
ul	{
	float: left;
	list-style-type: none;
	padding: 0;
	margin-top: 1em 0 0 1em;
	}
	
	
li	{
	list-style-image: url(images/teal_square_bullet.jpg);
	padding: 0 0 0.25em 2em
	line-height: 1em;
	}

