#titletext{
	font-family: 'Prompt', sans-serif;
	font-size: 30px;
	background-color: green;
	text-align: center;
	border:5px double orange;
}

#facebook{
	background-color: beige;
	text-align: center;
	border:5px double red;
	margin-top: 10px;
	margin-bottom: 10px;
}

#twittertext{
	font-family: 'Prompt', sans-serif;
	font-size: 25px;
	background-color: orange;
	text-align: center;
	border:5px double blue;
	margin-top: 10px;
	margin-bottom: 10px;
}

#linkedInText {
	font-family: 'Prompt', sans-serif;
	font-size: 25px;
	background-color: lightgreen;
	text-align: center;
	border:5px double brown;
	margin-top: 10px;
	margin-bottom: 10px;
}

#googlePlusText {
	font-family: 'Prompt', sans-serif;
	font-size: 25px;
	background-color: blue;
	text-align: center;
	border:5px double green;
	margin-top: 10px;
	margin-bottom: 10px;

}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid green;
}

#singleTweet{
	text-align: center;
	font-family: 'Prompt', sans-serif;
	font-size: 22px;
}

#timeline{
	text-align: center;
	font-family: 'Prompt', sans-serif;
	font-size: 22px;
}

#snapChat{
	margin-top: 10px;
	margin-bottom: 10px;
}

#snapChatText{
	font-family: 'Prompt', sans-serif;
	font-size: 30px;
	background-color: lightblue;
	text-align: center;
	border:5px double yellow;
}

.imageCenter{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#instagramText{
	font-size: 30px;
	background-color: pink;
	text-align: center;
	border:5px double black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

#pinterestText{
	background-color: red;
	text-align: center;
	border:5px double green;
	margin-top: 10px;
	margin-bottom: 10px;
}



