@charset "utf-8";
/* CSS Document */

body {
	background-image:url(maxsBathHouse.jpg);
	background-repeat:no-repeat;
}

#bone {
  position: relative;
    right: -90px;
  bottom: -90px;  
}

#dog {
  position: relative;
    right: -830px;
  bottom: 80px; 
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}


@-webkit-keyframes rollOut {
  from {
	opacity: 0;
  }

  to {
	opacity: 1;
	-webkit-transform: rotate3d(0, 0, 1, 360deg);
	transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes rollOut {
  from {
	opacity: 0;
  }

  to {
	opacity: 1;
	-webkit-transform: rotate3d(0, 0, 1, 360deg);
	transform: rotate3d(0, 0, 1, 360deg);
  }
}

.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
	opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 2s;	/* starts the animation after 2s */
  animation-delay: 2s;
  /*   TRY THIS  $('#yourElement').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', doSomething); TRY THIS  animate.css */
}

