@charset "utf-8";
/* CSS Document */

@import url(footer.css);

body	{
		font-family: Georgia, serif;
		font-size: 1em;
		margin-top: 1em;
		}
		
		
*		{
		margin: 0;
		padding: 0;
		}


#container	{
			width: 960px;
			margin: 0 auto;
			border: solid;
			border-width: 1px;
			background-color: #f3f6e9;
			}
			
			
header	{
		width: 960px;
		}
		
		
#left	{
		width: 298px;
		padding: 10px;
		border-right: solid 3px teal;
		float: left;
		}
		
		
#middle	{
		width: 298px;
		padding: 10px;
		border-right: solid 3px teal;
		float: left;
		}
		
		
#right	{
		width: 298px;
		padding: 10px;
		float: left;
		}


h1	{
	padding: 10px;
	color: white;
	text-align: center;
	background: teal url("images/blacktexture.jpg") repeat;
	}
	
	
h2	{
	padding: 10px;
	margin-bottom: 10px;
	color: white;
	background-color: navy;
	text-align: center;
	}
	
	
p	{
	text-indent: 1em;
	}
