.jerbackground	{
	background-color: #F7E1B2;
}

.panel	{
	background-color: #78B08D;
}

img {
	margin: 10px;
}

.vanpic {
	box-shadow: 5px 5px 3px #888888;
}

.jerrow {
	margin: 10px;
}

#juicy	{
	font-family: "Keep on Truckin'FW";
}

.jerlist	{

	font-family: Georgia, serif;
	list-style-type: none;
	font-size: 24px;
}

@import url(http://db.onlinewebfonts.com/c/240eb4ac3a7acc72976da7bbbeb254e9?family=Keep+on+Truckin'FW);

@font-face {font-family: "Keep on Truckin'FW";
    src: url("http://db.onlinewebfonts.com/t/240eb4ac3a7acc72976da7bbbeb254e9.eot");
    src: url("http://db.onlinewebfonts.com/t/240eb4ac3a7acc72976da7bbbeb254e9.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/240eb4ac3a7acc72976da7bbbeb254e9.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/240eb4ac3a7acc72976da7bbbeb254e9.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/240eb4ac3a7acc72976da7bbbeb254e9.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/240eb4ac3a7acc72976da7bbbeb254e9.svg#Keep on Truckin'FW") format("svg");
}