@charset "utf-8";
/* 	Hope.css - For styling hope.htm 
	Jeremy Hall
	10/19/2015
*/



body	{
		font-family:Verdana, Geneva, sans-serif;
		font-size: 24px;
		color: green;
		background-image: url(images/tileablespace.jpg)
		}
		
img.floatright	{
				float:right;
				}
				
img.floatleft	{
				float:left;
				}
				
.clear	{
		clear: both;
		}
				

body p	{
		text-indent: 50px;
		}
		
h1	{
	padding: 10px;
	background-color: beige;
	}
	
	
h2	{
	padding: 10px;
	background-color: beige;
	}
	
	
img	{
	border-style: groove;
	border-color: black;
	padding: 20px;
	background-color: #039;
	}
	
	
.clear	{
		clear: both;
		}
	