@charset "utf-8";
/* CSS Document */


#container	{
			background-color: white;
			width: 900px;
			margin: 0 auto;
			border: solid 2px black;			
			}
		
		
header	{
	width: 880px;
	background-color: #999;
	padding: 10px;
	text-align: center;
		}
		
		
main	{
	background-color: #800000;
	width: 510px;
	padding: 5px;
	margin: 0px 0px 10px 0px;
	float: right;
		}
		
main h3 	{
	  		margin: 0; 
			}
		
		
body	{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 14px;
	background-color: #000;
		}

/* these four styles below are used with aside */

aside {
  width: 300px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  overflow: visible;
}

aside h3 {
  margin: 0; 
  background-color: maroon;
}

aside p {
  margin: 0;
  padding: 5px;
  color: white;
  background-color: maroon;
  text-align: left;
}

			
footer	{
	border-top: solid 2px black;
	width: 880px;
	padding: 10px;
	background-color: #999;
	color: #FFF;
	clear: both;
	margin-top: 20px;
		}
		

footer h4	{
			color: black;
			}
