
/* 	CSS Document For Flowers 
	Jeremy Hall
	10/7/2015		
*/

nav li 	{
			display: inline;
            list-style-type; none;
            padding-right: 40px;
		}

a		{
			color: black;
			text-decoration: none;
		}


a:hover	{
			color: green;
			text-decoration: underline;
		}

.center {
		text-align: center;
		}
		
.preparedby	{
			font-family: Verdana, sans-serif;
			font-size: .7em;
			text-align: center;
			}

h2, h3		{
			text-align: center;
			}

