//import

//variables

	@import "palette.scss";

		// $beige: #FFCBAA;
		// $dkbeige: #D4946A;
		// $green: #286C12;
		// $blue: #4C668C;
		// $dkblue: #142E54;
		// $ltblue: #758AA8;



//partials

	@import "_font.scss";

		//contents are at the bottom



//mixins
	@mixin  colorBlue {
		background-color: $blue;
	}



//nested selectors
	footer {
		div {
			@include colorBlue;
		}
	}



.jer-header-padding {
  margin-top: 25px;
}

.jer-font	{
	font-family: fantasy;
	font-size: 42px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.2px;
	padding-top: 25px;
}

.jer-padding-a	{
	line-height: 26.2px;
	padding-top: 15px;
}

.background-beige	{
	background-color: $beige;
}

.background-green	{
	background-color: $green;
}

.background-blue	{
	background-color: $blue;
}

.background-ltblue	{
	background-color: $ltblue;
}

.color-dkbeige	{
	color: $dkbeige;
}

.jer-shadow	{
	text-shadow: 2px 2px #000000;
}

.jer-dkblue-date	{
	color: $dkblue;
}


//contents of _font.scss are below

// h1 {
// 	font-family: fantasy;
// 	font-size: 22px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: bold;
// 	line-height: 24.2px;
//     text-shadow: 2px 2px #ff0000;
// }

// h3 {
// 	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
// 	font-size: 33px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: 500;
// 	line-height: 33.4px;
// }
// p {
// 	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
// 	font-size: 22px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: 400;
// 	line-height: 24px;
// }
// blockquote {
// 	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
// 	font-size: 21px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: 400;
// 	line-height: 30px;
// }
// pre {
// 	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
// 	font-size: 13px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: 400;
// 	line-height: 18.5714px;
// }





