h1 {
  font-family: fantasy;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 24.2px;
  text-shadow: 2px 2px #ff0000; }

h3 {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 33.4px; }

p {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24px; }

blockquote {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px; }

footer div {
  background-color: #4C668C; }

.jer-header-padding {
  margin-top: 25px; }

.jer-font {
  font-family: fantasy;
  font-size: 42px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.2px;
  padding-top: 25px; }

.jer-padding-a {
  line-height: 26.2px;
  padding-top: 15px; }

.background-beige {
  background-color: #FFCBAA; }

.background-green {
  background-color: #286C12; }

.background-blue {
  background-color: #4C668C; }

.background-ltblue {
  background-color: #758AA8; }

.color-dkbeige {
  color: #D4946A; }

.jer-shadow {
  text-shadow: 2px 2px #000000; }

.jer-dkblue-date {
  color: #142E54; }
