@charset "utf-8";

/* CSS for about.htm - Max's Bath House */


* 	{
	margin: 0;
	padding: 0;
	}



body	{
		background-image: url(../images/leavestile.jpg)
		}



#container	{
	background-color: #09F;
	width: 930px;
	margin: 5px auto;
	border: solid 2px black;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 15px 15px 10px 0px black;
			}
			

header	{
		background-color: #09F;
		padding: 10px;
		width: 910px;
		text-align: center;
		font-size:18px;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		}


header h1	{
			font: italic  bold 26px "Arial Black", Gadget, sans-serif;
			}


nav		{
		background-color: #06F;
		width: 906px;
		padding: 10px;
		text-align: center;
		font-size:22px;
		border: solid 2px black;
		}
	
		
nav ul li	{
			margin-right: 1em;
			display: inline;
			list-style-type:none;
			background: url(../images/dog_paw_small.png) #09F no-repeat;
			padding-left: 15px;
			line-height: 2em;				
			}
	
			
nav li a	{
			padding: 1em;
			color: white;
			text-decoration: none;
			}
			
			
nav li a:hover	{
				color: #0F3;
				text-decoration: underline;
				}
		
		
#rightsidebar	{
				background-color:#09F;
				width: 175px;
				padding: 10px;	
				float: right;
				margin: 0 0 0 10px; 
				color: #FFF;
				border:solid 2px black;
				}
				
		
#rightsidebar a		{
					color: white;
					}
			
							
#rightsidebar a:visited		{
							text-decoration: none;
							color: white;
							}
						
						
#rightsidebar a:hover		{
							color: #0F3;
							text-decoration: underline;
							}
							
								
#rightsidebar h3	{
					text-decoration: underline;
					padding-bottom: 3px;
					}
		
		
main	{
	background-color: #09F;
	width: 700px;
	padding: 10px;
	float: left;
	text-align: center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
		}
		
		
main h	{
		padding-bottom: 0.5%;
		}
		
		
		
footer	{
	width: 910px;
	padding: 10px;
	background-color: #06F;
	color: orange;
	height: 80px;
	clear: both;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
		}
		
		
h1	{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1.5em;
	padding: 0 0 10px 0;
	}
	

		
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

