/* CSS for contact.htm - Max's Bath House */


/* RESET */		
		
		
		* 	{
			margin: 0;
			padding: 0;
			}


/*  CONTAINER */


		#container	{
					background-color: #09F;
					width: 90%;
					margin: 5px auto;
					border: solid 2px black;
					border-top-left-radius: 25px;
					border-top-right-radius: 25px;
					border-bottom-left-radius: 25px;
					border-bottom-right-radius: 25px;
					box-shadow: 15px 15px 10px 0px black;
					}
	
			
/*  HEADER  */
			

		header	{
				background-color: #09F;
				padding: 0.5%;
				text-align: center;
				font-size:18px;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				}
		
		
		header h1	{
					font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 26px;
					}


/*  NAV */


		nav		{
				background-color: #06F;
				padding: 0.5%;
				text-align: center;
				font-size:22px;
				border: solid 2px black;
				}
				
						
		nav ul li	{	
					margin-right: 1em;
					display: inline;
					list-style-type:none;
					background: url(../images/dog_paw_small.png) #09F no-repeat;
					padding-left: 15px;
					line-height: 2em;				}
					
					
		nav li a	{
					padding: 1em;
					color: white;
					text-decoration: none;
					}
					
					
		nav li a:hover	{
						color: #0F3;
						text-decoration: underline;
						}

		
/*  RIGHT SIDE BAR  */


		#rightsidebar	{
						background-color:#09F;
						width: 20%;
						padding: 1.5% 0.5% 0.5% 0.5%;	
						float: right;
						margin: 0 0 0 0.5%; 
						color: #FFF;
						font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size:18px;
						border:solid 2px black;
						}
						
				
		#rightsidebar a		{
							color: white;
							}
					
									
		#rightsidebar a:visited		{
									text-decoration: none;
									color: white;
									}
									
									
		#rightsidebar a:hover	{
								color: #0F3;
								text-decoration: underline;
								}
					
										
		#rightsidebar h3	{
							text-decoration: underline;
							padding-bottom: 3px;
							}
		
		
/* MAIN */

	
		main	{
				background-color: #09F;
				width: 77%;
				padding: 1.5% 0.5% 0.5% 0.5%;
				float: left;
				text-align: center;
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				}
				
				
		main h1	{
				padding-bottom: 0.5%;
				}
				
			
/* FORM */

	
		#formcontainer	{
						background-color: #FF9;
						}		
				
				
		form	{
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 16px;
				color: black;
				margin-top: 1em;
				padding: 1em;
				border: solid 2px black;
				background-color: lightblue;
				}
		
		
		.labelfloatleft	label	{
								float: left;
								color: navy;
								text-align: right;
								width: 110px;
								margin-right: 10px;
								}
								
								
		.labelfloatleft input	{
								display: block;
								}
		
														
		fieldset	{
					margin-bottom: 1.5em;
					border: solid 2px green;
					display: block;
					padding: 5px;
					background-color: #ff9;
					
					}
					
					
		legend	{
				color: purple;
				font: italic bold 16px;
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				padding-top: 15px;
				}
				
				
		label.clear	{
					clear: left;
					}
					
								
/* FOOTER */		
		
		
		footer	{
				padding: 0.5%;
				background-color: #06F;
				color: orange;
				height: 120px;
				clear: both;
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
				text-align: center;
				}				
			
					
/* MISC */
		
		
		body	{
				background-image: url(../images/leavestile.jpg)
				}
				
						
		h1	{
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 1.5em;
			}	
				
				
		IMG.displayed {
			display: block;
			margin-left: auto;
			margin-right: auto }
			
			

			
		
		
		
		
		
		
		
		
		
		
		

