/* PRINT STYLE - FORMATS THE PAGE FOR PRINTING */


		@page  {
				size: 8.5in 11in;
				margin: 0.5in;	
				}
				
				
		nav, header  	{
						display: none;
						}
						
						
		img  	{
				display: none;
				}
				
				
		body    {
				color: black;
				background-color: white;
				background-image: none;
				font-size: 12pt;
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				line-height: 120%;
				}

