@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Reset Style Sheet for the Pandaisia Chocolates Website
   Author: 
   Date:   
   
   Filename: pc_reset.css

*/

/* Structural Styles */

article, aside, figcaption, figure, footer, header, main, nav, section  
{ display: block;
}

/* Typographic Styles */

address, article, aside, blockquote, body, cite, div, dl, dt, dd, em figcaption, figure, 
footer, h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul 
{ background: transparent;
font-size: 100%;
margin:0;
padding:0;
vertical-align:baseline;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;

}

nav ul  {
	list-style: none;
	list-style-image: none;
	}
	
nav a { text-decoration: none;
}

body  {
	line-height: 1;
	}


