/* CSS for services.htm - Max's Bath House */

		
		* 	{
			margin: 0;
			padding: 0;
			}


/* CONTAINER */


		#container	{
			background-color: #09F;
			width: 1130px;
			margin: 5px auto;
			border: solid 2px black;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			box-shadow: 15px 15px 10px 0px black;
					}
			

/*  HEADER  */


		header	{
				width: 1110px;
				background-color: #09F;
				padding: 10px;
				text-align: center;
				font-size:18px;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				}
		
		
		header h1	{
					font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 26px;
					}

/*  NAV */


		nav		{
				width:1106px;
				background-color: #06F;
				padding: 10px;
				text-align: center;
				font-size:22px;
				border: solid 2px black;
				}
				
				
		nav ul li	{
					margin-right: 1em;
					display: inline;
					list-style-type:none;
					background: url(../images/dog_paw_small.png) #09F no-repeat;
					padding-left: 15px;
					line-height: 2em;				
					}
					
					
		nav li a	{
					padding: 1em;
					color: white;
					text-decoration: none;
					}
					
					
		nav li a:hover	{
						color: #0F3;
						text-decoration: underline;
						}
		

/* RIGHT SIDE BAR */


		#rightsidebar	{
						background-color:#09F;
						width: 200px;
						padding: 10px;	
						float: right;
						margin: 0 0 0 10px; 
						color: #FFF;
						font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size:18px;
						border:solid 2px black;
						}
						
				
		#rightsidebar a		{
							color: white;
							}
					
									
		#rightsidebar a:visited		{
									text-decoration: none;
									color: white;
									}
									
		#rightsidebar a:hover		{
									color: #0F3;
									text-decoration: underline;
									}
										
		#rightsidebar h3	{
							text-decoration: underline;
							padding-bottom: 3px;
							}
/* MAIN */
		
		
		main	{
			background-color: #09F;
			width: 850px;
			padding: 10px;
			float: left;
			text-align: center;
				}
				
				
		main h	{
				padding-bottom: 10px;
				}
					
					
		main p 	{
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:18px;
				}
		

/* FOOTER */

	
		footer	{
			padding: 10px;
			background-color: #06F;
			color: orange;
			height: 120px;
			clear: both;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			text-align: center;
				}


/* TABLE */
	
	
		table	{
				width: 100%;
				margin: 10px auto;
				padding: 10px;
				border: solid 3px navy;
				border-collapse: collapse;
				background-color: lightblue;
				}
				
				
		th		{
				border: solid 1px black;
				color: white;
				background-color: navy;
				}
				
				
		td		{
				border: solid 1px orange;
				empty-cells: show;
				height: 24px;
				padding: 5px;
				text-align: center;
				}
				
				
		caption {
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				color: maroon;
				font-weight: bold;
				margin: 0 0 10px 0;
				}
				
				
		.center	{
				font-style: italic;
				text-align: center;
				}
				
				
		.stripe	{
				background-color: aqua;
				}
		
		
/* MISC */


		body	{
				background-image: url(../images/leavestile.jpg)
				}
				
		h1	{
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 1.5em;
			padding: 0 0 10px 0;
			}
			
				
		IMG.displayed {
			display: block;
			margin-left: auto;
			margin-right: auto }
		
		
		
		
		
		
		
		
		
		
		
		
		
		

