$backgroundColor: #3a3276;

$primaryColor: #e3571b;

$secondaryColor: #005f39;

$tertiaryColor: #55b890; //jade

@mixin default-box {
	$borderColor: #666;
	border: 3px solid $borderColor;
	clear: both;
	margin: 5px 0;
	padding: 5px 10px;
	}

.float-right {
	float: left
    }

.float-right {
	float: right
    }


body {
    background: $backgroundColor;

	p {
	  color: $primaryColor;
  	  }

  	div	{
	    background: $secondaryColor;
        }

    img, { 
		@include default-box; 
		background: $tertiaryColor;
		}   

  	 }
  	  





