.float-right {
  float: left; }

.float-right {
  float: right; }

body {
  background: #3a3276; }
  body p {
    color: #e3571b; }
  body div {
    background: #005f39; }
  body img {
    border: 3px solid #666;
    clear: both;
    margin: 5px 0;
    padding: 5px 10px;
    background: #55b890; }
