            .img-modal-padding{
        		padding-left: 15px;
                padding-right: 0px;
        	}

        	.background-color{
        		background-color: #eef3d6;
        	}

        	.header-color{
        		background-color: #007e8d;
        	}

            .lower-modal-padding{
                padding-left: 15px;
                padding-top: 5px;
            }


            @media (min-width: 770px) {
                    .middle-modal-padding {
                        padding-left: 35px;
                    }
            }

            #email{
                    font-size: 0.9em;
            }

