/*

Jeremy Hall
09-23-2015

*/

body {
	
	font-family: Verdana, sans-serif;
	background-color: #c0e59b;
	
}

h1 {
	
	text-align: center;
	
}

h2 {
	
	color: navy;
	
}

h3 {
	
	color: navy;
	font-weight; bold;
	
}

p {
	
	text-indent: 5em;
	line-height: 1.5em;
	
}

h4{
	
	font-weight: uppercase;
	font-style: italic;
	color: maroon;
	
}